.group_icons div,
.clipboard
{
    transition: all 0.2s ease-in-out;
}

.group_icons div:hover:not(.delete),
.clipboard:hover
{
    background-color: rgba(46,40,162,1);
    color: white;
}

.group_icons div:hover:not(.delete),
.clipboard:hover,
.delete:hover

{
    cursor: pointer;
}

.delete:hover
{
    background-color: #dc3545;
    color: white;
}

.motion_div
{
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 5rem auto;
    overflow-y: scroll;
}

.frontground
{
    transition: all 0.3s ease-in-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: #0000003f;
    z-index: 1;
}
.close_motion
{
    right: 0;
    top: 0;
    margin: 0 0.75rem 0 0;
    font-size: 2.4rem;
}