.group_icons div
{
    transition: all 0.2s ease-in-out;
}

.group_icons div:hover:not(.delete)
{
    background-color: rgba(46,40,162,1);
    color: white;
}

.delete:hover
{
    background-color: #dc3545;
    color: white;
}
/*.test > div
{

}*/