.banner_text h1
{
    color: #2e28a2;
}

.banner_text p
{
    color: #b9b9b9;
}

.banner_image
{
    background: linear-gradient(-45deg, #470882, #5d37be, #5d57d4, #5082fe);
	background-size: 400% 400%;
/*
  background: rgb(73,125,240);
    background: linear-gradient(308deg, rgba(73,125,240,1) 0%, rgba(72,67,186,1) 25%, rgba(71,7,129,1) 100%); 
*/
    border-radius: 1.5rem;
    animation: gradient 5s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner_image img
{
    width: 40rem;
}
